
.Images {
  display:flex;
  align-items: center;
  justify-content: center;
}



app-image {
  width: 100%;
}

Image-url{margin-bottom: 100px;}

@media (max-width: 500px) {
  app-imagelist {
    column-count: 1;

  }
}

.searchBarMain {
  margin-bottom: 20px;
}

.choose-box {
  background: red;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;

  app-imagelist {
    column-gap: 10px;
    column-count: 3;
    display: block;
    line-height: 30px;
  }
}
app-apipicker {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

label {
  
  padding-left: 20px;
  padding-right: 20px;
 margin-top: 20x;
}

.ui.input > input {
 margin-top: 20px;
}

.ui.checkbox {
  /* position: relative; */
  /* display: inline-block; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;
  /* min-height: 0px; */
  font-size: 1em;
  line-height: 20px;
  padding-top: 15px;
  min-width: 17px;
}

.ui.icon.input > i.icon {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 15%;
  right: 0;
  margin: 0;
  height: 100%;
  width: 2.67142857em;
  opacity: 0.5;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
  transition: opacity 0.3s ease;
}