@import 'partials/mixins';

app-loginform {
  .fields {
    @include alignItems();
  }
  .labelPassword {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    span {
      cursor: pointer;
    }
  }
}
