@import 'partials/mixins';

app-loginbutton {
  .ui.grid {
    margin-top: 0rem;
  }
  top: 50%;
  .beginButton {
    width: 90%;
    text-align: center;
    h3 {
      text-align: center;
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 992px) {
    .beginButton {
      max-width: 50%;

      h3 {
        display: none;
      }
    }
  }
}
