.bar {
  background-color: rgba(255, 255, 255, 0.9) !important ;
  padding: 10px;
  margin-top: 0vh;
  flex-direction: column;
  border-radius: 25px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 7vh;
}
$pp-purple: #861A54;
$pp-blue: #054F7D;
$pp-ltblue: #00A7CF;
$sp-yellow: #EFE348;
body {
  align-items: center;
  background-image: linear-gradient(to right, $pp-blue, $pp-ltblue, $sp-yellow, $pp-purple, $pp-blue);
  background-size: 600%;
  background-position: 0 0;
  background-attachment: fixed;
  height: 100%;
  justify-content: center;
  /* Animation */
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: gradients;
  z-index: 0;
  height: auto;
  width: 100%;
}
@keyframes gradients {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}
#logo {
  position: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
  font-family: 'Alatsi', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  line-height: 130px;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 365px;
  height: auto;
  width: 100%;
  font-size: 100px;
  }
  #description {
    position: flex;
    height: 40px;
    top: 0%;
    font-size: 30px;
    text-align: center;
   font-family: 'Parisienne', cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 0px;
    color: #fff;
    }
    @media screen and (min-width: 601px) {
        #logo {
          font-size: 100px;
        }
        #description {
          font-size: 30px;
        }
      }
      @media screen and (max-width: 600px) {
        #logo {
          font-size: 80px;
        }
        #description {
          font-size: 20px;
          margin-top: -15px;
        }
      }
      app-imagelist {
        column-gap: 10px;
        column-count: 3;
        display: block;
        line-height: 30px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        img {
           height: auto;
            }
      }
      @import url(https://fonts.googleapis.com/css?family=Raleway);
img:nth-child() {
  top: 20%
}
img-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
img:hover img-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
img-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
img-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-bottom{
  top: 80%;
}