@import 'partials/mixins';

app-modal {
  #image-modal {
    max-height: 90vh;
    width: auto;
  }

  #reset {
    padding: 10px;
  }
  #create {
    padding: 10px;
  }

  .fields {
    @include alignItems();
  }
  .image {
    max-height: 90vh;
    max-width: auto;
  }
}
