@import 'partials/mixins';

app-sort {
  @include alignItems();
  margin: auto;
  .filt {
    @include alignItems();
    .dropdown {
      margin-left: 8px;
    }
  }
  span {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
